.App {
  display: flex;
  min-height: 100vh;
  justify-content:center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: RobotoBlack;
  src: url(./font/Roboto-Black.ttf);
}

.calculator{
  width: 100%;
  max-width: 280px;
  background-color: #22252d;
  border-radius: 16px;
  font-family: RobotoBlack;
}

.display{
  padding: 28px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;  
  font-size: 24px;
  font-weight: 300;
}

.display span {
	font-size: 25px;
	color: #ffffff;
}

.keys{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  background-color: #292d36;
  border-radius: 16px;
}

.keys button {
	flex: 0 0 calc(25% - 20px); 
  max-width: calc(25% - 20px); 
  margin: 10px;
  background-color: #3a414f;
  color: #ffffff;
  border-radius: 16px;
}

button {
	border: none;
	padding: 10px;
	font-size: 13px;
	transition: 0.4s;
}

button:hover {
	opacity: 0.3;
}

.keys .neon{
  color:rgb(0, 255, 170)
}

.keys .operator{
  color:red
}